kalkulacka/__pycache__/operations.cpython-38.pyc
clovece/__pycache__/player.cpython-38.pyc
clovece/__pycache__/game.cpython-38.pyc
clovece/__pycache__/art.cpython-38.pyc
__pycache__/operations.cpython-38.pyc
kalkulacka/kalkulacka.py
kalkulacka/operations.py
kalkulacka/__init__.py
26.11.py
